In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\dell\.conda\ml\lib\site-packages (1.6.3)
Requirement already satisfied: requests in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: urllib3 in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (1.26.14)
Requirement already satisfied: six>=1.10 in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: python-slugify in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: bleach in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: tqdm in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: certifi in c:\users\dell\.conda\ml\lib\site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: packaging in c:\users\dell\.conda\ml\lib\site-packages (from bleach->kaggle) (22.0)
Requirement already satisfied: webencodings in c:\users\dell\.conda\ml\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\dell\.conda\ml\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\.conda\ml\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dell\.conda\ml\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\dell\.conda\ml\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [73]:
# Create the .kaggle directory
!mkdir "%userprofile%\.kaggle"

# Copy the kaggle.json file to the .kaggle directory
!copy kaggle.json "%userprofile%\.kaggle"

# Set the appropriate permissions for the kaggle.json file
!icacls "%userprofile%\.kaggle\kaggle.json" /inheritance:r
!icacls "%userprofile%\.kaggle\kaggle.json" /grant:r "%username%:R"

A subdirectory or file C:\Users\Dell\.kaggle already exists.

        0 file(s) copied.

Access is denied.

processed file: C:\Users\Dell\.kaggle\kaggle.json
Successfully processed 1 files; Failed processing 0 files
processed file: C:\Users\Dell\.kaggle\kaggle.json
Successfully processed 1 files; Failed processing 0 files

In [74]:
!kaggle datasets download -d kazanova/sentiment140

sentiment140.zip: Skipping, found more recently modified local copy (use --force to force download)

In [75]:
from zipfile import ZipFile
dataset = 'C:\\Users\\Dell\\Jupyter\\sentiment140.zip'

with ZipFile(dataset,'r') as zip:
  zip.extractall()
  print('The dataset is extracted')

The dataset is extracted

In [76]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [77]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [78]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [79]:
twitter_data=pd.read_csv('C:\\Users\\Dell\\Jupyter\\training.1600000.processed.noemoticon.csv.zip',encoding='ISO-8859-1')

In [80]:
twitter_data.shape

(1599999, 6)

In [81]:
twitter_data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [82]:
column_names=['target','id','date','flag','user','text']
twitter_data=pd.read_csv('C:\\Users\Dell\\Jupyter\\training.1600000.processed.noemoticon.csv.zip',names=column_names,encoding='ISO-8859-1')

In [83]:
twitter_data.shape

(1600000, 6)

In [84]:
twitter_data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [85]:
twitter_data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [86]:
twitter_data['target'].value_counts()

0    800000
4    800000
Name: target, dtype: int64

In [87]:
twitter_data.replace({'target':{4:1}},inplace=True)

In [88]:
twitter_data['target'].value_counts()

0    800000
1    800000
Name: target, dtype: int64

In [89]:
port_stem=PorterStemmer()

In [90]:
def stemming(content):
  stemmed_content=re.sub('[^a-zA-Z]',' ',content)
  stemmed_content=stemmed_content.lower()
  stemmed_content=stemmed_content.split()
  stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]

  return stemmed_content

In [ ]:
twitter_data['stemmed_content']=twitter_data['text'].apply(stemming)

In [70]:
twitter_data.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [71]:
# Assuming twitter_data is your DataFrame
twitter_data['stemmed_content'] = twitter_data['stemmed_content'].apply(lambda x: ''.join(map(str, x)))

# Print the first few rows of the 'stemmed_content' column as strings
print(twitter_data['stemmed_content'].head().to_string(index=False))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [72]:
print(twitter_data['stemmed_content'])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
print(twitter_data['target'])

In [ ]:
X=twitter_data['stemmed_content'].values
Y=twitter_data['target'].values

In [ ]:
print(Y)

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train,X_test.shape)

In [ ]:
print(X_train)

In [ ]:
print(X_test)

In [ ]:
vectorizer=TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test=vectorizer.transform(X_test)

In [ ]:
print(X_test)

In [ ]:
print(X_train)

In [ ]:
model=LogisticRegression(max_iter=1000)

In [ ]:
model.fit(X_train,Y_train)

In [ ]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(Y_train,X_train_prediction)

In [ ]:
print('Accuracy score on the training data: ',training_data_accuracy)

In [ ]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(Y_test,X_test_prediction)

In [ ]:
print('Accuracy score on the testing data: ',test_data_accuracy)

In [ ]:
import pickle

In [ ]:
filename='trained_model.sav'
pickle.dump(model,open(filename,'wb'))

In [ ]:
loaded_model=pickle.load(open('/content/trained_model.sav','rb'))

In [ ]:
X_new=X_test[200]
print(Y_test[200])

prediction=model.predict(X_new)
print(prediction)

if(prediction[0]==0):
  print("Negative Tweet")
else:
  print('Positive Tweet')